/* CSS declarations go here */
body {
    background-color: #F36013;
}
.main-content {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

#login-buttons {
    display: block;
    margin-top: 12px;
}

.login-display-name {
    color: white;
}

h1 {
    font-size: 1.5em;
    display: inline-block;
    margin: 15px;
}

form {
    position: relative;
    margin-top: -5px;
}

.add-video input {
    box-sizing: border-box;
    padding: 20px 20px;
    background: #C54E10;
    border: none;
    width: 100%;
    font-size: 1em;
    color: white;
    border-bottom: 1px solid #a94410;
}

.add-video input:focus {
    outline: 0;
}

.video-list {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

.video-list li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    cursor: pointer;
}

.video-entry.active {
    background: #C54E10;
    color: white;
    font-weight: bold;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
}