/* CSS declarations go here */
html, body {
    min-height: 100%;
    height: 100%;
}

.sidebar {
    overflow-y: scroll;
}

.sidebar h2 {
    margin-left: 20px;
    margin-top: 0;
    padding: 20px 0 10px 0;
}

.account-data {
    margin-left: 20px;
}

.main-header {
    background: url(/img/background.svg);
    background-size: cover;
    height: 500px;
}

.main-content {
    width: 60%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 600px;
    margin-bottom: 40px;
}

paper-toolbar.channel-toolbar {
    background: #F56A22;
}

.main-content > paper-material {
    background: white;
}

#player {
    width: 100%;
    height: 400px;
}

paper-fab.add-video {
    background: #F56A22;
}

#pages {
    position: absolute;
    right: 28px;
    top: 472px;
}

paper-fab.play-toggle {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 430px;
    background: #EAE9E4;
}

.video-list {
    margin: 0;
    padding: 0;
    background: white;
}

.video-list li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    cursor: pointer;
}

.video-entry.active {
    background: #F56A22;
    color: white;
    font-weight: bold;
}

.video-list.nopointer .video-entry {
    pointer-events: none;
}

.player-progress {
    width: 100%;
    height: 30px;
    margin-top: -5px;
    cursor: pointer;
}

.rotate {
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.top-channels {
    margin: 0;
    padding: 0;
}

.top-channels li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-channels .top-channel-wrapper {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 80%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.top-channels .top-channel .channel-name {
    background: #FFFFFF;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    color: #393939;
    font-size: 18px;
    padding: 0 15px;
}

.top-channels .top-channel img {
    max-width: 100%;
}

#add-video-dialog {
    width: 400px;
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    .main-content {
        width: 90%;
        margin: 0 60px 0 20px;
    }
}

.chat-messages {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 90%;
}

.chat-messages li {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-x: hidden;
}

.chat-wrapper {
    padding: 10px;
    height: 100%;
}

#chat-message {
    margin-top: 10px;
}

.volume-slider-wrapper {
    padding: 0 50px;
    width: 100%;
}

.volume-slider {
    width: 100%;
}

.volume-slider #progressContainer.paper-progress {
    overflow: visible;
    height: 1px;
}

#add-video-content {
    margin-bottom: 10px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.youtube-result {
    cursor: pointer;
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 0;
}

.youtube-result:hover {
    background: #e9e9e9;
}