<template name="videolist">
    <div style="width:100%;height:100%;">
        <paper-drawer-panel right-drawer drawer-width="300px">
            <paper-material drawer elevation="5">
                <div class="chat-wrapper">
                    {{#with currentChannel}}
                    {{> chat}}
                    {{/with}}
                    <form class="chat-form">
                        <input type="text" id="chat-message" class="form-control input-lg" placeholder="What's on your mind?" autocomplete="off">
                    </form>
                </div>
            </paper-material>
            <div main>
                <paper-drawer-panel responsive-width="1024px">
                    <paper-material class="sidebar" drawer elevation="5">
                        <h2>Your Account</h2>
                        <div class="account-data">
                            {{#if currentUser}}
                            Welcome {{ username }}<br>
                            {{> atNavButton}}
                            {{else}}
                            {{> atForm}}
                            {{/if}}
                        </div>
                        <h2>Top Channels</h2>
                        <ul class="top-channels">
                            {{#each topChannels}}
                            {{> topChannel}}
                            {{/each}}
                        </ul>
                    </paper-material>
                    <paper-header-panel main mode="cover" style="height: 100%" class="lime">
                        <div class="main-header paper-header tall"></div>
                        <div class="content cover main-content">
                            <paper-material elevation="5">

                                <!-- Toolbar -->
                                <paper-toolbar class="channel-toolbar" style="width: 100%;">
                                    <paper-icon-button class="open-navigation" paper-drawer-toggle icon="menu"></paper-icon-button>
                                    <div title>
                                        {{ channelSlug }}
                                        {{#if currentUser}}
                                        <img src="/img/ic_action_settings.png" class="channel-settings" width="24" height="24" alt="Channel settings">
                                        {{/if}}
                                    </div>
                                    <span style="margin-left: auto;display:none;">{{ currentChannel.activeUsers }} active {{#if multiple currentChannel.activeUsers}}users{{else}}user{{/if}}</span>
                                </paper-toolbar>
                                
                                <!-- Player -->
                                <div id="player"></div>
                                <paper-progress value="0" class="player-progress"></paper-progress>
                                <div class="volume-slider-wrapper">
                                    <paper-slider pin="true" value="100" class="volume-slider"></paper-slider>
                                </div>
                                
                                <!-- Video list -->
                                <ul class="video-list">
                                    {{#each videos}}
                                    {{> video}}
                                    {{/each}}
                                </ul>
                                
                                <!-- Add video -->
                                <paper-fab src="/img/ic_sync_black_24dp.png" class="play-toggle rotate"></paper-fab>
                                <neon-animated-pages id="pages" class="add-video-wrapper" selected="0">

                                    <animated-grid id="grid"></animated-grid>
                                    <fullsize-page-with-card id="fullsize-card" hero-id="hero">
                                        <form class="add-video">
                                            <input type="text" id="add-video-content" class="form-control input-lg" placeholder="Search YouTube..." required/>
                                        </form>
                                        <div id="youtube-results">
                                            {{#each youtubeResults}}
                                                {{> youtubeResult}}
                                            {{/each}}
                                            {{#if youtubeResults}}
                                            <p class="text-muted text-right">Add a video by clicking on it.</p>
                                            {{/if}}
                                        </div>
                                    </fullsize-page-with-card>

                                </neon-animated-pages>
                                
                                
                            </paper-material>
                        </div>
                    </paper-header-panel>
                </paper-drawer-panel>
            </div>
        </paper-drawer-panel>
    </div>
    <paper-dialog id="rights-management"
                  entry-animation="scale-up-animation"
                  exit-animation="scale-down-animation">
        <paper-dialog-scrollable>
            <div class="row" style="margin: 0 20px;">
                <div class="col-md-6">
                    <h2>Channel rights</h2>
                    <section class="rights-list">
                        <h1>Guests</h1>
                        <paper-checkbox data-level="guest" data-right="viewChannel" class="right-checkbox" checked="{{ isChecked rights 'guest' 'viewChannel' }}">View and listen to channel</paper-checkbox> 
                        <paper-checkbox data-level="guest" data-right="addVideo" class="right-checkbox" checked="{{ isChecked rights 'guest' 'addVideo' }}">Add new videos</paper-checkbox>
                        <paper-checkbox data-level="guest" data-right="removeVideo" class="right-checkbox" checked="{{ isChecked rights 'guest' 'removeVideo' }}">Delete videos</paper-checkbox>
                        <paper-checkbox data-level="guest" data-right="changeActiveVideo" class="right-checkbox" checked="{{ isChecked rights 'guest' 'changeActiveVideo' }}">Set the active video and start / pause playback</paper-checkbox>
                        <paper-checkbox data-level="guest" data-right="addMessage" class="right-checkbox" checked="{{ isChecked rights 'guest' 'addMessage' }}">Use channel chat</paper-checkbox>
                    </section>
                    <section class="rights-list">
                        <h1>Members</h1>
                        <paper-checkbox data-level="member" data-right="viewChannel" class="right-checkbox" checked="{{ isChecked rights 'member' 'viewChannel' }}">View and listen to channel</paper-checkbox>
                        <paper-checkbox data-level="member" data-right="addVideo" class="right-checkbox" checked="{{ isChecked rights 'member' 'addVideo' }}">Add new videos</paper-checkbox>
                        <paper-checkbox data-level="member" data-right="removeVideo" class="right-checkbox" checked="{{ isChecked rights 'member' 'removeVideo' }}">Delete videos</paper-checkbox>
                        <paper-checkbox data-level="member" data-right="changeActiveVideo" class="right-checkbox" checked="{{ isChecked rights 'member' 'changeActiveVideo' }}">Set the active video and start / pause playback</paper-checkbox>
                        <paper-checkbox data-level="member" data-right="addMessage" class="right-checkbox" checked="{{ isChecked rights 'member' 'addMessage' }}">Use channel chat</paper-checkbox>
                    </section>
                    <section class="rights-list">
                        <h1>Moderators</h1>
                        <paper-checkbox data-level="moderator" data-right="viewChannel" class="right-checkbox" checked="{{ isChecked rights 'moderator' 'viewChannel' }}">View and listen to channel</paper-checkbox>
                        <paper-checkbox data-level="moderator" data-right="addVideo" class="right-checkbox" checked="{{ isChecked rights 'moderator' 'addVideo' }}">Add new videos</paper-checkbox>
                        <paper-checkbox data-level="moderator" data-right="removeVideo" class="right-checkbox" checked="{{ isChecked rights 'moderator' 'removeVideo' }}">Delete videos</paper-checkbox>
                        <paper-checkbox data-level="moderator" data-right="changeActiveVideo" class="right-checkbox" checked="{{ isChecked rights 'moderator' 'changeActiveVideo' }}">Set the active video and start / pause playback</paper-checkbox>
                        <paper-checkbox data-level="moderator" data-right="addMessage" class="right-checkbox" checked="{{ isChecked rights 'moderator' 'addMessage' }}">Use channel chat</paper-checkbox>
                    </section>
                </div>
                <div class="col-md-6">
                    <h2>Channel members</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Moderator</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each members}}
                            {{> member}}
                            {{/each}}
                            <tr>
                                <td>
                                    <paper-input placeholder="Add a new User" style="margin-top: -20px;" id="add-user-input"></paper-input>
                                </td>
                                <td>
                                    <paper-button raised style="background:green;color:white" id="add-user-button">Add</paper-button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button raised style="background: green;color:white;" dialog-confirm>Save</paper-button>
        </div>
    </paper-dialog>
    <paper-dialog id="claim-channel" 
                  entry-animation="scale-up-animation"
                  exit-animation="scale-down-animation">
        <h2>Claim this channel</h2>
        <paper-dialog-scrollable>
            <p class="lead" style="padding: 0 20px;">You do not own this channel yet, but you can claim it. It's free!</p>
            <p style="padding: 0 20px;">What can I do with claimed channels?</p>
            <ul>
                <li>Add Members and moderators</li>
                <li>Control rights for guests, members and moderators:</li>
                <li>
                    You can set these rights
                    <ul>
                        <li>Join channel</li>
                        <li>Add new videos</li>
                        <li>Remove videos</li>
                        <li>Control video playback</li>
                        <li>Use the channel chat</li>
                    </ul>
                </li>
            </ul>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button raised style="background: green;color:white;" dialog-confirm>Claim this channel</paper-button>
        </div>
    </paper-dialog>
    <paper-toast id="channel-claimed" text="You now own this channel ✓"></paper-toast>
    <paper-toast id="channel-claim-error" text="Could not claim this channel :("></paper-toast>
</template>

<template name="topChannel">
    <li>
        <a href="/c/{{slug}}" class="top-channel-link">
            <paper-material elevation="2" class="top-channel-wrapper">
                <paper-ripple></paper-ripple>
                <div class="top-channel">
                    <img src="http://img.youtube.com/vi/{{active}}/0.jpg">

                    <div class="channel-name">
                        {{slug}}
                    </div>
                </div>
            </paper-material>
        </a>
    </li>
</template>

<template name="video">
    <li class="video-entry {{#if isActive ytid}}active{{/if}}" data-videoid="{{ytid}}">
        {{title}}
    </li>
</template>

<template name="chat">
    <ul class="chat-messages">
        {{#each messages}}
        {{> chatmessage}}
        {{/each}}
    </ul>
</template>

<template name="chatmessage">
    <li>
        {{name}}: {{message}}
    </li>
</template>

<template name="youtubeResult">
    <div class="row youtube-result" data-ytid="{{ytid}}">
        <div class="col-md-4">
            <img src="{{image}}">
        </div>
        <div class="col-md-8">
            {{title}}
        </div>
    </div>
</template>

<template name="member">
    <tr>
        <td>
            {{username}}    
        </td>
        <td>
            <paper-checkbox class="member-moderator" data-username="{{username}}" checked="{{moderator}}"></paper-checkbox>
        </td>
        
    </tr>
</template>