<template name="videolist">
    <div style="width:100%;height:100%;">
        <paper-drawer-panel right-drawer drawer-width="300px">
            <paper-material drawer elevation="5">
                <div class="chat-wrapper">
                    {{#with currentChannel}}
                    {{> chat}}
                    {{/with}}
                    <form class="chat-form">
                        <input type="text" id="chat-message" class="form-control input-lg" placeholder="What's on your mind?" autocomplete="off">
                    </form>
                </div>
            </paper-material>
            <div main>
                <paper-drawer-panel responsive-width="1024px">
                    <paper-material class="sidebar" drawer elevation="5">
                        <h2>Your Account</h2>
                        <div class="account-data">
                            {{#if currentUser}}
                            Welcome {{ username }}<br>
                            {{> atNavButton}}
                            {{else}}
                            {{> atForm}}
                            {{/if}}
                        </div>
                        <h2>Top Channels</h2>
                        <ul class="top-channels">
                            {{#each topChannels}}
                            {{> topChannel}}
                            {{/each}}
                        </ul>
                    </paper-material>
                    <paper-header-panel main mode="cover" style="height: 100%" class="lime">
                        <div class="main-header paper-header tall"></div>
                        <div class="content cover main-content">
                            <paper-material elevation="5">

                                <!-- Toolbar -->
                                <paper-toolbar class="channel-toolbar" style="width: 100%;">
                                    <paper-icon-button class="open-navigation" paper-drawer-toggle icon="menu"></paper-icon-button>
                                    <div title>
                                        {{ channelSlug }}
                                        <img src="/img/ic_action_settings.png" class="channel-settings" width="24" height="24" alt="Channel settings">
                                    </div>
                                    <span style="margin-left: auto;">{{ currentChannel.activeUsers }} active {{#if multiple currentChannel.activeUsers}}users{{else}}user{{/if}}</span>
                                </paper-toolbar>
                                
                                <!-- Player -->
                                <div id="player"></div>
                                <paper-progress value="0" class="player-progress"></paper-progress>
                                <div class="volume-slider-wrapper">
                                    <paper-slider pin="true" value="100" class="volume-slider"></paper-slider>
                                </div>
                                
                                <!-- Video list -->
                                <ul class="video-list">
                                    {{#each videos}}
                                    {{> video}}
                                    {{/each}}
                                </ul>
                                
                                <!-- Add video -->
                                <paper-fab src="/img/ic_sync_black_24dp.png" class="play-toggle rotate"></paper-fab>
                                <neon-animated-pages id="pages" selected="0">

                                    <animated-grid id="grid"></animated-grid>
                                    <fullsize-page-with-card id="fullsize-card" hero-id="hero">
                                        <form class="add-video">
                                            <input type="text" id="add-video-content" class="form-control input-lg" placeholder="Search YouTube..." required/>
                                        </form>
                                        <div id="youtube-results">
                                            {{#each youtubeResults}}
                                                {{> youtubeResult}}
                                            {{/each}}
                                            {{#if youtubeResults}}
                                            <p class="text-muted text-right">Add a video by clicking on it.</p>
                                            {{/if}}
                                        </div>
                                    </fullsize-page-with-card>

                                </neon-animated-pages>
                                
                                
                            </paper-material>
                        </div>
                    </paper-header-panel>
                </paper-drawer-panel>
            </div>
        </paper-drawer-panel>
    </div>
    <paper-dialog id="rights-management">
        <h2>Manage channel rights</h2>
        <paper-dialog-scrollable>
            <section class="rights-list">
                <h1>Guests</h1>
                <paper-checkbox class="right-checkbox">View and listen to channel</paper-checkbox> 
                <paper-checkbox class="right-checkbox">Add new videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Delete videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Set the active video and start / pause playback</paper-checkbox>
                <paper-checkbox class="right-checkbox">Use channel chat</paper-checkbox>
            </section>
            <section class="rights-list">
                <h1>Members</h1>
                <paper-checkbox class="right-checkbox">View and listen to channel</paper-checkbox>
                <paper-checkbox class="right-checkbox">Add new videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Delete videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Set the active video and start / pause playback</paper-checkbox>
                <paper-checkbox class="right-checkbox">Use channel chat</paper-checkbox>
            </section>
            <section class="rights-list">
                <h1>Moderators</h1>
                <paper-checkbox class="right-checkbox">View and listen to channel</paper-checkbox>
                <paper-checkbox class="right-checkbox">Add new videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Delete videos</paper-checkbox>
                <paper-checkbox class="right-checkbox">Set the active video and start / pause playback</paper-checkbox>
                <paper-checkbox class="right-checkbox">Use channel chat</paper-checkbox>
            </section>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm>Accept</paper-button>
        </div>
    </paper-dialog>
</template>

<template name="topChannel">
    <li>
        <a href="/c/{{slug}}" class="top-channel-link">
            <paper-material elevation="2" class="top-channel-wrapper">
                <paper-ripple></paper-ripple>
                <div class="top-channel">
                    <img src="http://img.youtube.com/vi/{{active}}/0.jpg">

                    <div class="channel-name">
                        {{slug}}
                    </div>
                </div>
            </paper-material>
        </a>
    </li>
</template>

<template name="video">
    <li class="video-entry {{#if isActive ytid}}active{{/if}}" data-videoid="{{ytid}}">
        {{title}}
    </li>
</template>

<template name="chat">
    <ul class="chat-messages">
        {{#each messages}}
        {{> chatmessage}}
        {{/each}}
    </ul>
</template>

<template name="chatmessage">
    <li>
        {{name}}: {{message}}
    </li>
</template>

<template name="youtubeResult">
    <div class="row youtube-result" data-ytid="{{ytid}}">
        <div class="col-md-4">
            <img src="{{image}}">
        </div>
        <div class="col-md-8">
            {{title}}
        </div>
    </div>
</template>